wf.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amocrm-webhook",
        "options": {}
      },
      "id": "deccdf74-7247-49cd-acc4-73f0e1fc9098",
      "name": "AmoCRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2060,
        -80
      ],
      "webhookId": "amocrm-webhook-12345"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('extract lead').item.json.name }}",
            "phone": "={{ $json.phone }}",
            "amocrm_id": "={{ $('extract lead').item.json.id }}",
            "ai_score": 0,
            "ai_classification": "null"
          },
          "matchingColumns": [
            "amocrm_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amocrm_id",
              "displayName": "amocrm_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "wa_id",
              "displayName": "wa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "product_interest",
              "displayName": "product_interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ai_classification",
              "displayName": "ai_classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "classification_stage",
              "displayName": "classification_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pipeline_id",
              "displayName": "pipeline_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "stage_id",
              "displayName": "stage_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "responsible_user_id",
              "displayName": "responsible_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a748abc5-b306-4eca-bf44-ecf075d57ba5",
      "name": "Save Lead to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -960,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "fnp0aoTITqNjEjvW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/whatsapp/welcome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Здравствуйте, {{$json.name}}! 👋\n\nМеня зовут Анна, я ваш персональный помощник. Вижу, что вы оставили заявку на нашем сайте.\n\nРасскажите, пожалуйста, с какой задачей к нам обратились? Какой результат хотели бы получить?"
            },
            {
              "name": "id",
              "value": "={{ $('extract lead').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b10cf77-9873-4d21-a99e-13576df0ed62",
      "name": "Send Welcome WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        20
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-userbot-webhook",
        "options": {}
      },
      "id": "bfe5d56e-c9a5-40dc-b6e6-8a55ca8d1e02",
      "name": "WhatsApp Userbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2060,
        480
      ],
      "webhookId": "whatsapp-userbot-12345"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from userbot webhook\nconst data = $input.first().json.body;\n\nreturn {\n  phone: data.phone || '',\n  message_text: data.message || '',\n  message_type: data.message_type || 'text',\n  contact_name: data.contact_name || '',\n  timestamp: data.timestamp || new Date().toISOString(),\n  message_id: data.message_id || Date.now().toString(),\n  chat_id: data.wa_id || '',\n  is_group: false, // Всегда false, так как в сервисе мы фильтруем групповые сообщения\n  has_media: data.has_media || false,\n  direction: data.direction || 'incoming'\n};"
      },
      "id": "0522ab03-c97c-4bcf-8cf5-9672f42b33ba",
      "name": "Extract WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e350ace-8268-473a-ad99-1a2946106ecf",
      "name": "Find Lead in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1620,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "fnp0aoTITqNjEjvW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "meeting_scheduled",
            "updated_at": "={{ new Date().toISOString() }}",
            "id": 0,
            "amocrm_id": 0,
            "ai_score": 0,
            "pipeline_id": 0,
            "stage_id": 0,
            "responsible_user_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amocrm_id",
              "displayName": "amocrm_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "wa_id",
              "displayName": "wa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_interest",
              "displayName": "product_interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_classification",
              "displayName": "ai_classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "classification_stage",
              "displayName": "classification_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pipeline_id",
              "displayName": "pipeline_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage_id",
              "displayName": "stage_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responsible_user_id",
              "displayName": "responsible_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8295ad4c-25fd-4d8c-a72a-627e5694fca3",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        76,
        505
      ],
      "credentials": {
        "postgres": {
          "id": "fnp0aoTITqNjEjvW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -492,
        825
      ],
      "id": "32d48b30-f40c-42ee-9aa2-b6fdd486e2ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0AaWvDVkoyxlCCJv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI-классификатор для определения потребностей клиентов. Твоя задача через естественный диалог определить: 1. Размер компании клиента 2. Предполагаемый бюджет проекта 3. Потребности и ожидания от сотрудничества 4. Срочность решения задачи. Важно: НЕ используй анкеты и структурированные вопросы. Веди живое общение, но мягко направляй разговор к получению нужной информации. Каждое сообщение делай как можно короче чтобы не потерять сути, не будь слишком услужлив, твоя задача писать как человек\nПодготовь ответ на основе истории сообщений\n### Профили клиентов\n**ИДЕАЛЬНЫЙ:**\n- Малый/средний бизнес 10-100 сотрудников\n- Есть клиентский поток\n- Много рутинных операций\n- Бюджет \n- Планы роста\n\n**ПЕРСПЕКТИВНЫЙ:**\n- Микробизнес 5-10 человек\n- Стабильный поток клиентов\n- Готов автоматизировать\n- Бюджет \n\n**НЕ ЦЕЛЕВОЙ:**\n- Менее 5 сотрудников\n- Бюджет \n- Разовые задачи\n- Ищет бесплатное\n\n### Вопросы квалификации\n**БИЗНЕС:**\n- Сколько клиентов в месяц?\n- Как принимаете заявки?\n- Сколько времени тратите на обработку?\n- Теряете ли клиентов из-за медленного ответа?\n\n**ПРОЦЕССЫ:**\n- Как обрабатываете заявки сейчас?\n- Кто отвечает клиентам?\n- Есть ли CRM/база клиентов?\n- Что занимает больше всего времени?\n\n**ПЛАНЫ:**\n- Хотите увеличить поток клиентов?\n- Когда планируете автоматизацию?\n- Какой бюджет рассматриваете?\n\n### Классификация\n**ГОРЯЧИЙ (HOT):**\n- Активно ищет решение\n- Есть сроки внедрения\n- Бюджет определен\n- Готов начать быстро\n\n**ТЕПЛЫЙ (WARM):**\n- Изучает варианты\n- Понимает потребность\n- Планирует в 1-3 месяца\n- Готов к презентации\n\n**ХОЛОДНЫЙ (COLD):**\n- Просто интересуется\n- Нет срочности\n- Неопределенный бюджет\n- Требует прогрева\nПродолжай общение пока и уточняй пока не сможешь определить ВСЕ ЧТО НЕОБХОДИМО ДЛЯ КВАЛИФИКАЦИИ Верни JSON \n{\n  is_qualified: true/false,\n  qualification_rate: hot/warm/cold/null,\n  note: '',(опционально, только если клиент квалифицирован)\n  message: 'сообщение для клиента если он не квалифицирован или саммари для продавца если квалифицирован'\n} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -520,
        605
      ],
      "id": "86aeeca0-93a6-4928-8fad-7e2100182b1d",
      "name": "AI Agent qualify"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.body[\"account[subdomain]\"] }}.amocrm.ru/api/v4/leads/{{ $json.body[\"leads[status][0][id]\"] }}?with=contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImY1ZmI4NGViZmUyNWJmMDcyYTk4ZGJhODY3MTQ0OWE0ZjUyN2ZjZDBlOWI1MmNiOWRlNTZhYWY4MmQxODhkOWFiNjc1YTljNDYwYTRiZGJjIn0.eyJhdWQiOiI4NWE2NDljOS1hODBlLTQ5MWYtOWI1Ny03MTIxM2RmYTllZGEiLCJqdGkiOiJmNWZiODRlYmZlMjViZjA3MmE5OGRiYTg2NzE0NDlhNGY1MjdmY2QwZTliNTJjYjlkZTU2YWFmODJkMTg4ZDlhYjY3NWE5YzQ2MGE0YmRiYyIsImlhdCI6MTc0OTE3MjkzMCwibmJmIjoxNzQ5MTcyOTMwLCJleHAiOjE3NTEwNjg4MDAsInN1YiI6IjEyNTkzNzk0IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjMyNDcwNzUwLCJiYXNlX2RvbWFpbiI6ImFtb2NybS5ydSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYjFmNTFmZDEtMmJkMy00OGNlLWJiZTctNGQwOTYyYzUyNTBkIiwiYXBpX2RvbWFpbiI6ImFwaS1iLmFtb2NybS5ydSJ9.Of3HLuPF4UetP2WG0YdeVqK0_EhhrGSyjYS6UT4d7D7YF0oUgqeeAas5usa89x6uxVEDqFD0VzKV_58Mq5-0e6HZ2zaMNTe_IcMDmc_mdKTOmxEThnThtW0_9t8lF48LX3cMf4vR9FgD2LQBYky3Rd7uMlkrpOvhQOszc0I9XeunzpXr7L3OAVcHVkm9ZEmyyLv0iJpH0jTrKgSvEoLZlf1Sy0DgKdXU7kEsO28eHWv0easRRD3jxO-jGQ1OSI_yEsHpledrypQxIJejxFDIImSUp748I-ywEmZiFQ562mIcFXK32sPWtVLehGvAKgN02Joo-Td3I7LAtykWA4I9Aw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -80
      ],
      "id": "00afbba0-fa33-475e-97d4-9c8a6e5784fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://{{ $('AmoCRM Webhook').item.json.body['account[subdomain]'] }}.amocrm.ru/api/v4/contacts/{{ $json._embedded.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImY1ZmI4NGViZmUyNWJmMDcyYTk4ZGJhODY3MTQ0OWE0ZjUyN2ZjZDBlOWI1MmNiOWRlNTZhYWY4MmQxODhkOWFiNjc1YTljNDYwYTRiZGJjIn0.eyJhdWQiOiI4NWE2NDljOS1hODBlLTQ5MWYtOWI1Ny03MTIxM2RmYTllZGEiLCJqdGkiOiJmNWZiODRlYmZlMjViZjA3MmE5OGRiYTg2NzE0NDlhNGY1MjdmY2QwZTliNTJjYjlkZTU2YWFmODJkMTg4ZDlhYjY3NWE5YzQ2MGE0YmRiYyIsImlhdCI6MTc0OTE3MjkzMCwibmJmIjoxNzQ5MTcyOTMwLCJleHAiOjE3NTEwNjg4MDAsInN1YiI6IjEyNTkzNzk0IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjMyNDcwNzUwLCJiYXNlX2RvbWFpbiI6ImFtb2NybS5ydSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYjFmNTFmZDEtMmJkMy00OGNlLWJiZTctNGQwOTYyYzUyNTBkIiwiYXBpX2RvbWFpbiI6ImFwaS1iLmFtb2NybS5ydSJ9.Of3HLuPF4UetP2WG0YdeVqK0_EhhrGSyjYS6UT4d7D7YF0oUgqeeAas5usa89x6uxVEDqFD0VzKV_58Mq5-0e6HZ2zaMNTe_IcMDmc_mdKTOmxEThnThtW0_9t8lF48LX3cMf4vR9FgD2LQBYky3Rd7uMlkrpOvhQOszc0I9XeunzpXr7L3OAVcHVkm9ZEmyyLv0iJpH0jTrKgSvEoLZlf1Sy0DgKdXU7kEsO28eHWv0easRRD3jxO-jGQ1OSI_yEsHpledrypQxIJejxFDIImSUp748I-ywEmZiFQ562mIcFXK32sPWtVLehGvAKgN02Joo-Td3I7LAtykWA4I9Aw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        -80
      ],
      "id": "3cc78a68-8ac9-4f81-a118-6ccc7586fd4b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return {json: JSON.parse($input.first().json.data)}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1620,
        -80
      ],
      "id": "9785517c-8b2c-4f0b-9d1b-3f49e66ad432",
      "name": "extract lead"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг JSON данных контакта\nconst parsedData = JSON.parse($input.first().json.data);\n\n// Извлечение основных данных контакта\nconst contact = {\n  id: parsedData.id,\n  name: parsedData.name,\n  first_name: parsedData.first_name,\n  last_name: parsedData.last_name,\n  responsible_user_id: parsedData.responsible_user_id,\n  group_id: parsedData.group_id,\n  created_by: parsedData.created_by,\n  updated_by: parsedData.updated_by,\n  created_at: parsedData.created_at,\n  updated_at: parsedData.updated_at,\n  closest_task_at: parsedData.closest_task_at,\n  is_deleted: parsedData.is_deleted,\n  is_unsorted: parsedData.is_unsorted,\n  account_id: parsedData.account_id,\n  \n  // Обработка кастомных полей\n  custom_fields: parsedData.custom_fields_values?.map(field => ({\n    field_id: field.field_id,\n    field_name: field.field_name,\n    field_code: field.field_code,\n    field_type: field.field_type,\n    values: field.values?.map(value => ({\n      value: value.value,\n      enum_id: value.enum_id,\n      enum_code: value.enum_code\n    })) || []\n  })) || [],\n  \n  // Извлечение телефона (если есть поле PHONE)\n  phone: parsedData.custom_fields_values?.find(field => field.field_code === 'PHONE')?.values?.[0]?.value?.replaceAll('+','') || null,\n  \n  // Обработка связанных данных\n  tags: parsedData._embedded?.tags || [],\n  companies: parsedData._embedded?.companies || [],\n  \n  // Ссылки API\n  self_link: parsedData._links?.self?.href || null\n};\n\nreturn contact;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        -80
      ],
      "id": "355741f5-fcf8-412d-951a-346b758fecb3",
      "name": "extract contact"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_history",
          "mode": "list",
          "cachedResultName": "chat_history"
        },
        "where": {
          "values": [
            {
              "column": "lead_id",
              "value": "={{ $json.amocrm_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1400,
        480
      ],
      "id": "e61662a1-a4bd-40fe-9b64-1c2e0c45cbb3",
      "name": "get messages",
      "credentials": {
        "postgres": {
          "id": "fnp0aoTITqNjEjvW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert messages to AI format\nconst inputData = $input.first().json.data;\n\n// Сортируем сообщения по времени\n\n// Преобразуем в формат для AI\nconst messages = inputData.map(msg => ({\n  role: msg.direction === 'incoming' ? 'user' : 'assistant',\n  content: msg.content\n}));\n\n\n// Формируем финальный объект\nreturn {\n  json: {\n    lead_id: inputData[0].lead_id,\n    phone: $('Find Lead in Database').first().json.phone,\n    messages: messages\n  }\n  \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        480
      ],
      "id": "8287e0ed-b573-4bb4-b128-8f6e9099e1fb",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1180,
        480
      ],
      "id": "677956d6-0ded-4fbe-8fe6-c268decab73b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/whatsapp/welcome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "wa_id",
              "value": "={{ $('Code').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output.message }}"
            },
            {
              "name": "=id",
              "value": "={{ $('Code').item.json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7707b276-9292-46e8-9921-de5798e2d427",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        76,
        705
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chat_history;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2060,
        -440
      ],
      "id": "322a4dfd-6d42-499d-b75a-783f03b4e72b",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "fnp0aoTITqNjEjvW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_qualified\": true,\n  \"qualification_rate\": \"hot\",\n  \"note\": \"Клиент заинтересован и готов к покупке\",\n  \"message\": \"Здравствуйте! Могу уточнить, что именно вас интересует?\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -372,
        825
      ],
      "id": "d85b21a7-7459-4ac3-8930-4c80a6ffff8d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e7cbb99-fb1b-4901-a424-e7f1805a43ea",
              "leftValue": "={{ $json.output.is_qualified }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        605
      ],
      "id": "716bcac1-b32f-447f-9e2d-be78e635aadd",
      "name": "Qualified"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66d66ae6-041b-4ca7-9e43-c9ea22cb4f1f",
              "leftValue": "={{ $json.ai_classification }}",
              "rightValue": "=''",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "367872ad-81e5-46b5-90cb-5cc9764315d1",
              "leftValue": "={{ $json.ai_score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        480
      ],
      "id": "c0b89fc4-ccee-4b93-af25-6fa6ea8f1dc9",
      "name": "is_qualified"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        296,
        380
      ],
      "id": "84670188-3cd7-4d63-8f49-5df7a10c0d19",
      "name": "AI Sales Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        600
      ],
      "id": "4a0a4fd4-9ed2-43ce-8d7e-50159970b428",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0AaWvDVkoyxlCCJv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "AmoCRM Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Userbot Webhook": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Find Lead in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead in Database": {
      "main": [
        [
          {
            "node": "get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent qualify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent qualify": {
      "main": [
        [
          {
            "node": "Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "extract lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "extract contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract lead": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract contact": {
      "main": [
        [
          {
            "node": "Save Lead to PostgreSQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "is_qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent qualify",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Qualified": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_qualified": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent qualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "153a70e05f81f246b19609cee48a90b90798fd47a2d93526a26c89b4d31e1d09"
  }
}